/* Resetting margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cardo', serif;
  background-color: #1a1a1a;
  /* background-image: 'assets/images/mike.png'; */
  color: #f5f5f5;
  line-height: 1.6;
}

header {
  background-color: #1a1a1a;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease;
  pointer-events: painted;
  margin-right: 30px;
}

nav ul li a:hover {
  color: #b08d57;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #b08d57;
  margin-left: 50px;
}

.hero {
  height: 100vh;
  background-image: url('../assets/images/kherick.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-content h2 {
  font-size: 3rem;
  color: #b08d57;
  margin-bottom: 20px;
  margin: 50px;
}

.hero-content p {
  font-size: 1.8rem;
  color: #f5f5f5;
  margin-bottom: 30px;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 0;
  border: 2px solid #b08d57;
  border-radius: 30px;
  color: #b08d57;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #b08d57;
  color: #1a1a1a;
}

.about {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 100px;
  background-image: url("../assets/bg/aboutbg.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-content {
  max-width: 900px;
  display: flex;
  gap: 40px;
}

.about-content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.portfolio-preview {
  background-image: url("../assets/bg/achievementsbg.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-preview, .portfolio-preview, .testimonials-preview, .contact, .contact-info {
  padding: 80px 20px;
  text-align: center;
}

.about-preview-content, .portfolio-preview-content, .testimonials-preview-content {
  max-width: 800px;
  margin: 0 auto;
}

.portfolio-preview-content{
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  padding: 20px;

}

.achievements-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px 20px;
}

.achievement-item {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.achievement-item:hover {
  transform: translateY(-5px);
}

.achievement-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.achievement-item h3 {
  color: #b08d57;
  font-size: 1.2rem;
  margin: 15px 0 10px;
  padding: 0 15px;
}

.achievement-item p {
  font-size: 1rem;
  color: #f5f5f5;
  padding: 0 15px 15px;
}

.about-preview {
  background-image: url(../assets/bg/blackbg.avif);
}

.about-preview-content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.about-preview-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.bio {
  flex: 1;
}

.bio p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.skills {
  padding: 80px 20px;
  text-align: center;
  background-image: url("../assets/bg/skillsbg.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.skills-content {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.skill-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-item h3 {
  color: #b08d57;
  margin-bottom: 10px;
}

.skill-item p {
  font-size: 1.1rem;
}

.testimonials {
  padding: 80px 20px;
  text-align: center;
}

.testimonials-content {
  max-width: 800px;
  margin: 0 auto;
}

.testimonial-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.testimonial-item p {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial-item span {
  font-size: 1.1rem;
  font-weight: bold;
  color: #b08d57;
}

.testimonials-preview-content blockquote {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 30px;
}

.testimonials-preview-content blockquote cite {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b08d57;
  display: block;
  margin-top: 10px;
}

/* Contact Section */
.contact {
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(135deg, #1a1a1a, #282828);
  color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin: 50px;
}

.contact h2 {
  font-size: 2.5rem;
  color: #b08d57;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact p {
  font-size: 1.3rem;
  color: #b0b0b0;
  margin-bottom: 40px;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact form label {
  font-size: 1.1rem;
  color: #b08d57;
  text-transform: uppercase;
  margin-right: 20px;
  flex-basis: 25%;
  text-align: left;
}

.contact form input, 
.contact form textarea {
  padding: 15px;
  border: 2px solid #b08d57;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #f5f5f5;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  flex-basis: 70%;
}

.contact form input:focus, 
.contact form textarea:focus {
  border-color: #f5f5f5;
}

.contact form button {
  padding: 12px 30px;
  background-color: #b08d57;
  color: #1a1a1a;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact form button:hover {
  background-color: #1a1a1a;
  color: #b08d57;
  border-color: #b08d57;
}

/* Contact Info Section */
.contact-info {

  padding: 80px 20px;
  background-color: #1a1a1a;
  color: #f5f5f5;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-info li {
  display: flex;
  align-items: center;
  justify-content:space-around;
}


.contact-info h3 {
  font-size: 2rem;
  color: #b08d57;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact-info ul {
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2rem;
}

.contact-info ul li {
  margin-bottom: 15px;
}

.contact-info ul li a {
  color: #b08d57;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info ul li a:hover {
  color: #f5f5f5;
}

.footer-content{
  background-image: url("../assets/bg/footerbg.avif");
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #f5f5f5;
}

footer .social-links a {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #b08d57;
  margin: 0 10px;
  transition: color 0.3s ease;
}

footer .social-links a:hover {
  color: #f5f5f5;
}


.portfolio {
  padding: 80px 20px;
  text-align: center;
  background-image: url("../assets/bg/blackbg.avif");
}

.portfolio p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

/* .portfolio-grid .title{
  display: flex;

} */

.portfolio-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #f5f5f5;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.portfolio-about {
  padding: 80px 20px;
  text-align: center;
}

.portfolio-about p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background-color: #1a1a1a;
  color: #f5f5f5;
  text-align: center;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer .social-links a {
  margin: 0 10px;
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .social-links a:hover {
  color: #b08d57;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #1a1a1a;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #b08d57;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #b08d57;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}

#modalImage {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

#modalTitle {
    color: #b08d57;
    margin-bottom: 10px;
}

#modalDescription {
    color: #f5f5f5;
    font-size: 1.1rem;
    line-height: 1.6;
}

.view-project {
    cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  /* nav ul {
    margin-top: 20px;
  } */

  .hero {
    padding: 50px 20px;
    background-position: center;
    backface-visibility: hidden;
    background-clip: border-box;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-blend-mode: overlay;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/kherick.png);
    height: 100vh;
  }

  .hero-content {
    text-align: center;
    padding: 50px 20px;

  }
  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1.5rem;
  }

  .btn-primary, .btn-secondary {
    padding: 15px 30px;
    font-size: 1.5rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: space-between;
    padding: 130px 20px;
    background-image: url("../assets/bg/aboutbg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  }

  .about h2 {
    position: relative;
    margin-bottom: 10px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-content img {
    width: 250px;
    height: 250px;
  }

  .about-content p {
    font-size: 1.2rem;
  }

  .skills{
    padding: 80px 20px;
    margin-top: 5px;
    margin-bottom: 20px;
  background-image: url("../assets/bg/skillsbg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  }

  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .portfolio-preview {
  background-image: url("../assets/bg/achievementsbg.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .btn-primary, .btn-secondary {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .about-content img {
    width: 200px;
    height: 200px;
  }

  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}